<!DOCTYPE html>
<html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<body>
	<div style="text-align:center;">
		<h1 style="display:inline; color:black;">Eras</h1><h1 style="display:inline; color:lightgrey;">ure</h1>
	</div>
	<div style="text-align:center;">
		<p align=justify>
		{%for x in words%}
		<p>
		{% for y in x %}
		<div  style="display:inline; font-weight:900; color:lightgrey;" class="word"> {{y}} </div>
		{% endfor %}
		</p>
		{%endfor%}
		</p>
	</div>
	<form style="text-align:center;" action="." method="POST">
		<textarea rows="4" cols="50" name="text"></textarea>
		<br>
		<input type="submit" name="myForm" value="Send">
	</form>
</body>
<script>
	$(function(){
		$('.word').click(function() {
			if($(this).css('color') == 'rgb(0, 0, 0)'){
				$(this).css('color', 'lightgrey')
			}
			else{
				$(this).css('color', 'black')
			}
		});
	});	
</script>
</html>
